"Discord"
{
    "crash"
    {
        "url"   "{{ discord.crash_webhook }}"
    }
    "stac"
    {
        "url"   "{{ discord.stac_webhook }}"
    }
    "calladmin"
    {
        "url"   "{{ discord.stac_webhook }}"
    }
    "sourcebans"
    {
        "url"   "{{ discord.sbpp_discord_banhook }}/slack"
    }
    "sourcecomms"
    {
        "url"   "{{ discord.sbpp_discord_banhook }}/slack"
    }
    "test_discord"
    {
        "url"   "{{ discord.sbpp_discord_banhook }}"
    }
    "test_slack"
    {
        "url"   "{{ discord.stac_webhook }}/slack"
    }
}
