"Databases"
{
    "admins"
    {
        "driver"			"mysql"
        "database"			"sourcebans"
        "host"              "/run/mysqld/mysqld.sock"
        "user"              "{{ database.sourcebans.user }}"
        "pass"          "{{ database.sourcebans.pass }}"

    }
    "clientprefs"
    {
        "driver"			"mysql"
        "database"			"clientprefs"
        "host"              "/run/mysqld/mysqld.sock"
        "user"              "{{ database.clientprefs.user }}"
        "pass"          "{{ database.clientprefs.pass }}"
    }
    "admins"
    {
        "driver"			"mysql"
        "host"              "/run/mysqld/mysqld.sock"
        "database"			"sm_admins"
        "user"              "{{ database.smadmins.user }}"
        "pass"          "{{ database.smadmins.pass }}"
    }
    "storage-local"
    {
        "driver"			"mysql"
        "host"              "/run/mysqld/mysqld.sock"
        "database"			"storage-local"
        "user"              "{{ database.storage_local.user }}"
        "pass"          "{{ database.storage_local.pass }}"
    }
    "sourcebans"
    {
        "driver"			"mysql"
        "host"				"/run/mysqld/mysqld.sock"
        "database"			"sourcebans"
        "user"				"sourcebans"
        "pass"				"H87K20zPu4pbzviFZ0zE"
        //"port"			"3306"
    }
}
