{% for map in map_rotations[map_rotation|default("regular")] %}
{{ map }}
{% endfor %}
- cp_altitude
- cp_dustbowl
- cp_egypt_final
- cp_gorge
- cp_gravelpit
- cp_junction_final
- cp_mercenarypark
- cp_mossrock
- cp_mountainlab
- cp_reckoner
- cp_steel
# 5cp
- cp_5gorge
- cp_badlands
- cp_coldfront
- cp_fastlane
- cp_foundry
- cp_freight_final1
- cp_granary
- cp_gullywash_final1
- cp_hardwood_final
- cp_metalworks
- cp_powerhouse
- cp_process_final
- cp_snakewater_final1
- cp_sulfur
- cp_sunshine
- cp_vanguard
- cp_well
- cp_yukon_final
# 3cp?
- cp_standin_final
# koth
- koth_badlands
- koth_highpass
- koth_king
- koth_lakeside_final
- koth_harvest_final
- koth_suijin
- koth_viaduct
- koth_cascade
- koth_brazil
- koth_lazarus
- koth_rotunda
- koth_sawmill
- koth_sharkbay
- koth_nucleus
- koth_harvest_final
- pd_selbyen
# payload
- pl_badwater
- pl_barnblitz
- pl_borneo
- pl_cashworks
- pl_enclosure_final
- pl_frontier_final
- pl_goldrush
- pl_hoodoo_final
- pl_phoenix
- pl_pier
- pl_rumford_event
- pl_snowycoast
- pl_swiftwater_final1
- pl_thundermountain
- pl_upward
- pl_venice
# payload (evil version)
- plr_bananabay
- plr_hightower
- plr_nightfall_final
- plr_pipeline
# ctf
- ctf_2fort
- ctf_doublecross
- ctf_landfall
- ctf_pelican_peak
- ctf_sawmill
- ctf_turbine
- ctf_well
# ad
- workshop/cp_brew.ugc2962755338
- workshop/cp_bruhstbowl_b5.ugc2878604990
- workshop/cp_fulgur_rc2a.ugc2068252300
- workshop/cp_glacier_rc6.ugc2905735376
- workshop/cp_hazyfort_rc6.ugc1365963729
- workshop/cp_snowbase_b18.ugc2081770490

# cp
- workshop/cp_alloy.ugc592805587
- workshop/cp_caldera.ugc2834196889
- workshop/cp_coilblaze.ugc1272700588
- workshop/cp_croissant.ugc458840209
- workshop/cp_glassworks.ugc454118349
- workshop/cp_indulge.ugc528106646
- workshop/cp_propaganda.ugc1603743849
- workshop/cp_logjam.ugc454812035
- workshop/cp_mannbase.ugc1900737467
- workshop/cp_overgrown.ugc503939302
- cp_reckoner
- cp_sulfur
- workshop/cp_sultry.ugc2775471508
- workshop/cp_villa.ugc2113052569

# koth
- workshop/koth_ashville.ugc2130459942
- workshop/koth_bagel.ugc2514036946
- workshop/koth_hangar.ugc484062492
- workshop/koth_kemptown.ugc767410655
- workshop/koth_logwash.ugc2968862976
- workshop/koth_product.ugc454272353
- workshop/koth_jamram.ugc2964065613
# - workshop/koth_rotunda.ugc2964421291
- workshop/koth_relic.ugc2965301326
- workshop/koth_slaughter.ugc1712845210
- workshop/koth_soot.ugc2969540689
- workshop/koth_synthetic.ugc1549817316
- workshop/koth_trenchfoot.ugc731436616


# pl
- workshop/pl_badwater_pro_v12.ugc2142942074
- workshop/pl_barnblitz_pro.ugc582280235
- workshop/pl_boundary.ugc456799153
- workshop/pl_cactus_canyon_redux.ugc2579644293
- pl_cashworks
- workshop/pl_corrode.ugc546577989
- workshop/pl_divulgence.ugc2884808746
- workshop/pl_emerge.ugc888027758
- workshop/pl_eruption.ugc2969573312
- workshop/pl_extinction.ugc2961457712
- workshop/pl_fifthcurve_rc1.ugc648227046
- workshop/pl_highwood.ugc1769496557
- workshop/pl_jinn.ugc2964570577
- workshop/pl_oasis.ugc1366095901
- pl_phoenix
- workshop/pl_shoreleave.ugc1238849347
- workshop/pl_stallberg.ugc1849111469
- workshop/pl_vigil.ugc1266210012

# "other"
- workshop/rd_asteroid_redux.ugc2154902912
