<html lang="en">
    <head>
        <title>ATLANTA REGULARS</title>
    </head>
    <body>
        <h1>ATLANTA REGULARS</h1><br />

        <a href="steam://connect/{{ dns }}:27015">connect {{ dns }}:27015</a><br />
        <a href="https://{{ dns_sourcebans }}">Sourcebans</a><br />
        <a href="https://{{ dns_stv }}">STV</a><br />
        <a href="https://{{ dns_stats }}">Stats</a>
    </body>
</html>
