srcds_region: 0
srcds_user: "tf2server"
srcds_steam_app: "tf"
srcds_steam_app_dir: "/home/tf2server/srcds"
srcds_steam_app_id: 232250
srcds_base_port: 27015
srcds_tv_port: 27020
srcds_max_players: 32
srcds_start_map: "pl_badwater"
srcds_hostname: "Example Hostname"
sv_tags: ourtag
name: "Example Hostname"
map_rotation: "default"
sv_visiblemaxplayers: 24
sv_alltalk: false
tf_weapon_criticals: false
tf_forced_holiday: false
mp_allowspectators: false
mp_forceautoteam: false
sv_pure: 1
tf_classlimit: 3
stv_enable: false
stv_name: "abc 123"
fastdl_url: "http://dl.serveme.tf"
tf_spawn_glows_duration: 0
